:root {
  --main-color: #212121;
  --second-color: #757575;
  --functional-color: #2196f3;
  --background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --third-backgroud-color: #2f303a;
  --black-color: #000000;
  --white-color: #ffffff;
  --footer-mail-phone-color: rgba(256, 256, 256, 0.6);
  --border-color-one: #ececec;
  --border-color-two: #eeeeee;
  --icons-color-one: #afb1b8;
  --icons-background-footer: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

/* RESETING STYLES */

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

.button {
  cursor: pointer;
  outline: none;
}

.section {
  padding: 94px;
}

/* CENTERING PAGE */

.container {
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

/* HEADER SECTION */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  flex-grow: 1;
}

.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color-one);
  position: static;
}

.page-header .logo,
.page-header .logo:hover,
.page-header .logo:focus {
  color: var(--black-color);
}

.page-header .header-mail,
.page-header .header-phone {
  color: var(--second-color);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 93px;
}

.logo-nav .nav {
  display: flex;
  align-items: center;
  gap: 46px;
}

.mail-phone {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  padding-right: 27px;
}

/* FOOTER SECTION */

.page-footer {
  background: var(--third-backgroud-color);
  color: var(--white-color);
}
.page-footer .container {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 70px;
  min-height: 252px;
}
.page-footer .logo,
.page-footer .logo:hover,
.page-footer .logo:focus {
  color: var(--white-color);
}

.web {
  color: var(--functional-color);
}

.page-footer .footer-mail,
.page-footer .footer-phone {
  color: var(--footer-mail-phone-color);
}

.page-footer .container .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
}

.page-footer .container .list li:first-of-type {
  padding-top: 60px;
  padding-bottom: 20px;
}

.connect-header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.newsletter-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  flex-wrap: nowrap;
}

.newsletter-field {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.newsletter-form .button-form {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  line-height: 1.875;

  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 10px 42px;
  padding-right: 28px;

  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* LINKS */

.link {
  outline: none;
  text-decoration: none;
  color: var(--main-color);

  /* transitions in links */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:visited {
  /* reseting color for visited  links */
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--functional-color);
}

/* MAIN SECTION */

.main-studio {
  background-color: var(--third-backgroud-color);
  color: var(--white-color);
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.main-background {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
}

.main-head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 696px;
  margin-bottom: 30px;
}

.button-studio {
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background: var(--functional-color);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px;

  /* transition */
  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-studio:hover,
.button-studio:focus {
  color: var(--functional-color);
  background: var(--white-color);
}

.main-studio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

/* LOREM SECTION */

.lorem-work .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.lorem-work .description {
  color: var(--second-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 0;
}

.lorem-work .section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lorem-work .title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.lorem-work .work-head {
  margin-top: 94px;
}

.lorem-work .list {
  display: flex;
  gap: 30px;
}

.lorem-work .list li {
  /* making it wrap */
  flex-basis: calc((100% - 90px) / 4);
}

/* WORK SECTION */

.work-head,
.team-head {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list-item {
  height: 294px;
  position: relative;
  text-align: center;
}

.work-image-description {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* TEAM SECTION */

.team {
  background: var(--second-background-color);
}

.team-description {
  background: var(--white-color);
  padding-top: 30px;
  border-radius: 0px 0px 4px 4px;
}
.team .team-card .team-description .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-description .team-job {
  font-size: 16px;
  color: var(--second-color);
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* CLIENT SECTION */

.clients .clients-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

/* PORTFOLIO PAGE
    PORTFOLIO PAGE
    PORTFOLIO PAGE
*/

.button-portfolio {
  background: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  /* transiton */

  transition-property: color, background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--functional-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  width: 322px;
  color: var(--black-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  width: 322px;
  color: var(--black-color);
}

.portfolio-buttons .list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.portfolio-block {
  padding-top: 50px;
}

.portfolio-block .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-block .list .list-card {
  flex-basis: calc((100% - 99px) / 3);
}

.portfolio-block .link:hover .portfolio-card,
.portfolio-block .link:focus .portfolio-card {
  color: var(--main-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  overflow: hidden;

  /* transition */

  transition-property: color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description {
  background-color: var(--white-color);
  padding: 20px 23px;
  border: 1px solid var(--border-color-two);
  border-top: 0;
  z-index: 2;
}

/* ICONS STYLES
    ICONS STYLES
    ICONS STYLES
*/

.icons {
  /* making all icons inherit color */
  fill: currentColor;
}

/* icons in header */

/* i know those are wrong values
    but with those icons looks like in figma
*/

/* icons in LOREM SECTION */
.icon-block {
  width: 270px;
  height: 120px;
  background-color: var(--second-background-color);
  border-radius: 4px;
  text-align: center;
  padding-top: 25px;
}

/* icons in TEAM CARDS */
.social-icons {
  /* all social icons container making them */
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.footer-socials .social-icons {
  padding-top: 20px;
}

/* every icon will have correct color 
and background as a circle */
.social-icons .socials {
  color: var(--icons-color-one);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  /* transition */

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* icons in CLIENTS SECTION */

.clients .list .client-logo {
  width: 170px;
  height: 92px;
  border: solid 1px;
  border-color: var(--icons-color-one);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color-one);

  /* transition */

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .list .client-logo:hover,
.clients .list .client-logo:focus {
  color: var(--functional-color);
  border-color: var(--functional-color);
}

/* icons in FOOTER SECTION */

.footer-socials .socials {
  color: var(--white-color);
  background-color: var(--icons-background-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  /* transition */

  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* social icons in footer and team cards */
.social-icons .socials:hover,
.social-icons .socials:focus {
  color: var(--white-color);
  background-color: var(--functional-color);
}

/* icons in MODAL WINDOW */

.icon-field {
  position: relative;
}

.modal .icons {
  position: absolute;
  top: 11px;
  left: 12px;
}

/* MODAL WINDOW */
/* MODAL WINDOW */
/* MODAL WINDOW */

.backdrop {
  display: flex;
  position: fixed;
  opacity: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  /* animation */
  transition-property: opacity;
  transition-delay: 50ms;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.modal {
  scale: 1;
  opacity: 1;
  margin: auto;
  width: 528px;
  height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* animation for window to show up */
  transition-property: opacity, scale;
  transition-delay: 50ms;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.is-hidden .modal {
  /* animation for window to hide */
  scale: 0;

  transition-property: scale;
  transition-delay: 50ms;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  /* animation */
  transition-property: opacity, visibility;
  transition-delay: 50ms;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.close-button {
  position: relative;
  left: calc(100% - 38px);
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  padding: 0;
}

.form {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: calc(100% - 40px);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  padding: 40px;
  padding-top: 0;
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-text-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 12px;
  margin-bottom: 10px;
}

.label-header {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.field {
  display: block;
  box-sizing: border-box;
  height: 40px;
  outline: none;
  padding: 11px 0;
  padding-left: 42px;
  margin-bottom: 10px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--black-color);

  /* animations */
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-area {
  box-sizing: border-box;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
}

.field:focus-within,
.field:focus-within + .icons {
  border-color: var(--functional-color);
  fill: #2196f3;

  /* animation */
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-area::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.check-form {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}

.label-terms {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 23px;
}

.form-checkbox {
  display: none;
}

.label-terms a,
.label-terms a:visited {
  color: var(--functional-color);
}

.icon-uncheck,
.icon-check {
  position: absolute;
}

.icon-uncheck {
  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  /* check icon isn't visible when unchecked */
  opacity: 0;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-form input[type="checkbox"]:checked + svg + svg {
  /* making unchecked icon hidden when checkbox is checked */
  opacity: 0;
}

.check-form input[type="checkbox"]:checked + svg {
  /* making checked icon visible when checkbox is checked */
  opacity: 1;
}

.button-form {
  width: 200px;
  height: 50px;
  background: var(--functional-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover,
.button-form:focus {
  background: var(--white-color);
  color: var(--functional-color);
}

/* PORTFOLIO CARD DESCRIPTION */
/* PORTFOLIO CARD DESCRIPTION */
/* PORTFOLIO CARD DESCRIPTION */

.portfolio-image-description {
  display: flex;
  align-items: center;
  z-index: 1;

  width: 100%;
  height: 294px;
  padding-left: 24px;
  padding-right: 45px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  /* animation */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block .link:hover .portfolio-image-description {
  transform: translateY(0);
}

/* CURRENT PAGE MARKUP */

.current-page {
  position: relative;
  display: block;
  color: var(--functional-color);
}

.current-page:visited {
  color: var(--functional-color);
}

.current-page::after {
  content: "";
  position: absolute;
  height: 4px;
  top: 45px;
  left: 0;
  right: 0;
  background-color: var(--functional-color);
  border-radius: 2px;
}

/* ANIMATIONS */
/* ANIMATIONS */
/* ANIMATIONS */

/* @keyframes portfolio-cards-forwards {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(0);
  }

  100% {
    visibility: visible;
    opacity: 1;
    height: 294px;
    transform: translateY(-294px);
  }
}

@keyframes portfolio-cards-backwards {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-294px);
  }

  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }
} */
